In [9]:
import pandas  as pd
import numpy as np

In [40]:
csv_df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin-1')
csv_df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [48]:
csv_df.groupby('Area')['Area'].count()

Area
Algeria                        1313
Angola                         1424
Benin                          1285
Botswana                       1378
Burkina Faso                   1409
Cabo Verde                     1260
Cameroon                       1460
Central African Republic       1344
Chad                           1343
Comoros                          45
Congo                          1413
CÃ´te d'Ivoire                  1467
Djibouti                       1095
Egypt                          1488
Eswatini                       1284
Ethiopia                       1447
Ethiopia PDR                     39
Gabon                          1245
Gambia                         1168
Ghana                          1354
Guinea                         1410
Guinea-Bissau                  1128
Kenya                          1560
Lesotho                        1150
Liberia                        1206
Madagascar                     1439
Malawi                         1447
Mali                           1293
Mauritania                     1195
Mauritius                      1378
Morocco                        1393
Mozambique                     1427
Namibia                        1283
Niger                          1403
Nigeria                        1474
Rwanda                         1426
Sao Tome and Principe          1177
Senegal                        1462
Seychelles                       68
Sierra Leone                   1242
South Africa                   1399
Sudan                          1316
Sudan (former)                   53
Togo                           1294
Tunisia                        1338
Uganda                         1458
United Republic of Tanzania    1419
Zambia                         1451
Zimbabwe                       1393
Name: Area, dtype: int64

In [33]:
csv_df.count()

Area Code       60943
Area            60943
Item Code       60943
Item            60943
Element Code    60943
Element         60943
Unit            60943
Y2014           59354
Y2015           59395
Y2016           59408
Y2017           59437
Y2018           59507
dtype: int64

In [35]:

csv_df.std()

C:\Users\dell\AppData\Local\Temp\ipykernel_4516\3977508714.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  csv_df.mean()
C:\Users\dell\AppData\Local\Temp\ipykernel_4516\3977508714.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  csv_df.std()

Area Code         72.605709
Item Code        146.055739
Element Code    2212.007033
Y2014           1567.663696
Y2015           1603.403984
Y2016           1640.007194
Y2017           1671.862359
Y2018           1710.782658
dtype: float64

In [36]:
csv_df.mean()

C:\Users\dell\AppData\Local\Temp\ipykernel_4516\1276477327.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  csv_df.mean()

Area Code        134.265576
Item Code       2687.176706
Element Code    3814.856456
Y2014            134.196282
Y2015            135.235966
Y2016            136.555222
Y2017            140.917765
Y2018            143.758381
dtype: float64

In [44]:
csv_df.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [40]:
csv_df['Area'].nunique()

49

In [61]:
csv_df.groupby('Element')['Y2018'].count()

Element
Domestic supply quantity                  5256
Export Quantity                           3646
Fat supply quantity (g/capita/day)        4987
Feed                                      1225
Food                                      4913
Food supply (kcal/capita/day)             4969
Food supply quantity (kg/capita/yr)       4877
Import Quantity                           4945
Losses                                    2008
Other uses (non-food)                     1655
Processing                                2003
Production                                3846
Protein supply quantity (g/capita/day)    4986
Residuals                                 4616
Seed                                       758
Stock Variation                           4217
Total Population - Both sexes               45
Tourist consumption                        555
Name: Y2018, dtype: int64

In [36]:
csv_df.sum()

Area Code                                                  252133
Area            ZimbabweZimbabweZimbabweZimbabweZimbabweZimbab...
Item Code                                                 3739292
Item            PopulationPopulationGrand TotalGrand TotalGran...
Element Code                                              5346770
Element         Total Population - Both sexesDomestic supply q...
Unit            1000 persons1000 tonneskcal/capita/dayg/capita...
Y2014                                                    78366.34
Y2015                                                    74041.79
Y2016                                                    75638.88
Y2017                                                    75919.34
Y2018                                                    76581.41
dtype: object

In [63]:
csv_df.groupby('Item')['Y2014'].sum()

Item
Alcohol, Non-Food        2403.00
Alcoholic Beverages    102410.11
Animal Products         11935.65
Animal fats            209460.54
Apples and products      9499.23
                         ...
Vegetables, Other      155038.96
Vegetal Products       107145.19
Wheat and products     232670.13
Wine                     4497.36
Yams                   200396.96
Name: Y2014, Length: 119, dtype: float64

In [65]:
csv_df.groupby('Element')['Y2014'].sum()

Element
Domestic supply quantity                  1996716.35
Export Quantity                            150020.64
Fat supply quantity (g/capita/day)          10225.56
Feed                                       216927.89
Food                                      1212332.49
Food supply (kcal/capita/day)              454257.00
Food supply quantity (kg/capita/yr)         49650.63
Import Quantity                            274144.48
Losses                                     153223.00
Other uses (non-food)                       78718.13
Processing                                 282923.00
Production                                1931287.75
Protein supply quantity (g/capita/day)      11836.46
Residuals                                   30149.00
Seed                                        21922.92
Stock Variation                             58749.83
Total Population - Both sexes             1031585.00
Tourist consumption                           416.00
Name: Y2014, dtype: float64

In [35]:
csv_df.groupby('Element', as_index=False)['Y2018'].sum()

                                   Element     Y2018
0                 Domestic supply quantity  17860.73
1                          Export Quantity    416.71
2       Fat supply quantity (g/capita/day)    207.99
3                                     Feed    141.32
4                                     Food   8821.37
5            Food supply (kcal/capita/day)   7627.00
6      Food supply quantity (kg/capita/yr)    611.22
7                          Import Quantity   1673.84
8                                   Losses    891.00
9                    Other uses (non-food)    106.06
10                              Processing   8300.00
11                              Production  16161.60
12  Protein supply quantity (g/capita/day)    176.57
13                               Residuals   -546.00
14                                    Seed    140.00
15                         Stock Variation   -447.00
16           Total Population - Both sexes  14439.00

In [28]:
csv_df.groupby('Element')['Y2018'].agg(['mean','std'])

                                                mean         std
Element
Domestic supply quantity                  152.655812  518.419330
Export Quantity                             5.342436   17.192411
Fat supply quantity (g/capita/day)          1.857054    6.976521
Feed                                        4.282424    8.982064
Food                                       80.930000  227.705017
Food supply (kcal/capita/day)              68.098214  270.731174
Food supply quantity (kg/capita/yr)         5.607523   15.771852
Import Quantity                            15.941333   56.118210
Losses                                     16.500000   41.276221
Other uses (non-food)                       2.719487   10.088522
Processing                                136.065574  656.813923
Production                                166.614433  538.838630
Protein supply quantity (g/capita/day)      1.576518    6.108501
Residuals                                  -5.300971   37.854685
Seed                                        7.368421   13.238037
Stock Variation                            -4.705263   36.039834
Total Population - Both sexes           14439.000000         NaN

In [34]:
csv_df.groupby('Element', as_index=False)['Y2014'].sum()

                                   Element     Y2014
0                 Domestic supply quantity  18538.82
1                          Export Quantity    722.26
2       Fat supply quantity (g/capita/day)    215.70
3                                     Feed    176.50
4                                     Food   9001.17
5            Food supply (kcal/capita/day)   7942.00
6      Food supply quantity (kg/capita/yr)    662.42
7                          Import Quantity   2490.58
8                                   Losses    783.00
9                    Other uses (non-food)    192.16
10                              Processing   8492.00
11                              Production  16130.50
12  Protein supply quantity (g/capita/day)    184.23
13                               Residuals   -252.00
14                                    Seed    144.00
15                         Stock Variation   -644.00
16           Total Population - Both sexes  13587.00

In [33]:
csv_df.groupby('Element', as_index=False)['Y2015'].sum()

                                   Element     Y2015
0                 Domestic supply quantity  17012.90
1                          Export Quantity    602.12
2       Fat supply quantity (g/capita/day)    212.61
3                                     Feed    161.08
4                                     Food   8674.69
5            Food supply (kcal/capita/day)   7646.00
6      Food supply quantity (kg/capita/yr)    627.92
7                          Import Quantity   3244.03
8                                   Losses    746.00
9                    Other uses (non-food)    173.13
10                              Processing   7914.00
11                              Production  14032.00
12  Protein supply quantity (g/capita/day)    175.31
13                               Residuals   -780.00
14                                    Seed    128.00
15                         Stock Variation   -343.00
16           Total Population - Both sexes  13815.00

In [32]:
csv_df.groupby('Element', as_index=False)['Y2016'].sum()

                                   Element     Y2016
0                 Domestic supply quantity  17228.21
1                          Export Quantity    470.36
2       Fat supply quantity (g/capita/day)    205.50
3                                     Feed    136.74
4                                     Food   8707.40
5            Food supply (kcal/capita/day)   7536.00
6      Food supply quantity (kg/capita/yr)    620.30
7                          Import Quantity   3653.98
8                                   Losses    776.00
9                    Other uses (non-food)    107.07
10                              Processing   8261.00
11                              Production  14267.60
12  Protein supply quantity (g/capita/day)    172.72
13                               Residuals   -882.00
14                                    Seed    127.00
15                         Stock Variation    221.00
16           Total Population - Both sexes  14030.00

In [30]:
csv_df.groupby('Element', as_index=False)['Y2017'].sum()

                                   Element     Y2017
0                 Domestic supply quantity  17125.73
1                          Export Quantity    414.71
2       Fat supply quantity (g/capita/day)    204.52
3                                     Feed    194.32
4                                     Food   8770.37
5            Food supply (kcal/capita/day)   7563.00
6      Food supply quantity (kg/capita/yr)    615.88
7                          Import Quantity   2083.84
8                                   Losses   1132.00
9                    Other uses (non-food)    100.06
10                              Processing   7852.00
11                              Production  15913.60
12  Protein supply quantity (g/capita/day)    175.31
13                               Residuals  -1083.00
14                                    Seed    162.00
15                         Stock Variation    458.00
16           Total Population - Both sexes  14237.00

In [31]:
csv_df.groupby('Element', as_index=False)['Y2018'].sum()

                                   Element     Y2018
0                 Domestic supply quantity  17860.73
1                          Export Quantity    416.71
2       Fat supply quantity (g/capita/day)    207.99
3                                     Feed    141.32
4                                     Food   8821.37
5            Food supply (kcal/capita/day)   7627.00
6      Food supply quantity (kg/capita/yr)    611.22
7                          Import Quantity   1673.84
8                                   Losses    891.00
9                    Other uses (non-food)    106.06
10                              Processing   8300.00
11                              Production  16161.60
12  Protein supply quantity (g/capita/day)    176.57
13                               Residuals   -546.00
14                                    Seed    140.00
15                         Stock Variation   -447.00
16           Total Population - Both sexes  14439.00

In [15]:
g = csv_df.groupby('Area')
g

In [17]:
g.get_group('Algeria')

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
1308,4,Algeria,2899,Miscellaneous,5142,Food,1000 tonnes,75.00,77.00,78.00,80.00,82.00
1309,4,Algeria,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,1.93,1.93,1.93,1.93,1.93
1310,4,Algeria,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,2.00,2.00,2.00,2.00,2.00
1311,4,Algeria,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.06,0.06,0.06,0.06,0.06
1312,4,Algeria,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.03,0.03,0.03,0.03,0.03

In [18]:
g.max()

,Area Code,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
Area,,,,,,,,,,,
Algeria,4,2961,Yams,5911,Total Population - Both sexes,kg,38924.00,39728.00,40551.00,41389.00,42228.00
Angola,7,2961,Yams,5911,Tourist consumption,kg,26942.00,27884.00,28842.00,29817.00,30810.00
Benin,53,2961,Yams,5911,Total Population - Both sexes,kg,10287.00,10576.00,10872.00,11175.00,11485.00
Botswana,20,2961,Yams,5911,Tourist consumption,kg,2385.00,2383.00,2377.00,2341.00,2342.00
Burkina Faso,233,2961,Yams,5911,Total Population - Both sexes,kg,17586.00,18111.00,18646.00,19193.00,19751.00
Cabo Verde,35,2961,Yams,5911,Tourist consumption,kg,2531.00,2511.00,2522.00,2530.00,2541.00
Cameroon,32,2961,Yams,5911,Total Population - Both sexes,kg,22682.00,23298.00,23927.00,24566.00,25216.00
Central African Republic,37,2961,Yams,5911,Total Population - Both sexes,kg,4464.00,4493.00,4538.00,4596.00,4666.00
Chad,39,2961,Yams,5911,Total Population - Both sexes,kg,13664.00,14111.00,14562.00,15017.00,15478.00
Comoros,45,2782,Pelagic Fish,5911,Production,1000 tonnes,9.29,11.63,17.24,16.65,16.65
Congo,46,2961,Yams,5911,Total Population - Both sexes,kg,4737.00,4856.00,4981.00,5111.00,5244.00
CÃ´te d'Ivoire,107,2961,Yams,5911,Total Population - Both sexes,kg,22648.00,23226.00,23823.00,24437.00,25069.00
Djibouti,72,2961,Yams,5911,Total Population - Both sexes,kg,2581.00,2665.00,2631.00,2664.00,2694.00
Egypt,59,2961,Yams,5911,Tourist consumption,kg,90425.00,92443.00,94447.00,96443.00,98424.00
Eswatini,209,2961,Yams,5911,Total Population - Both sexes,kg,5438.00,5498.00,5511.00,5553.00,5596.00
Ethiopia,238,2961,Yams,5911,Total Population - Both sexes,kg,98094.00,100835.00,103603.00,106400.00,109224.00
Ethiopia PDR,62,2782,Pelagic Fish,5911,Stock Variation,1000 tonnes,0.00,0.00,0.00,0.00,0.00
Gabon,74,2961,Yams,5911,Total Population - Both sexes,kg,2754.00,2749.00,2691.00,2640.00,2633.00
Gambia,75,2960,Yams,5911,Total Population - Both sexes,kg,2593.00,2544.00,2545.00,2544.00,2533.00
Ghana,81,2961,Yams,5911,Total Population - Both sexes,kg,27224.00,27849.00,28482.00,29121.00,30317.00
Guinea,90,2961,Yams,5911,Total Population - Both sexes,kg,11151.00,11432.00,11738.00,12068.00,12414.00
Guinea-Bissau,175,2960,Yams,5911,Total Population - Both sexes,kg,2171.00,2180.00,2201.00,2233.00,2229.00
Kenya,114,2961,Yams,5911,Tourist consumption,kg,46700.00,47878.00,49052.00,50221.00,51393.00
Lesotho,122,2961,Yams,5911,Total Population - Both sexes,kg,2356.00,2193.00,2075.00,2475.00,2323.00
Liberia,123,2961,Yams,5911,Total Population - Both sexes,kg,4360.00,4472.00,4587.00,4702.00,4819.00
Madagascar,129,2961,Yams,5911,Total Population - Both sexes,kg,23590.00,24234.00,24894.00,25571.00,26262.00
Malawi,130,2961,Yams,5911,Total Population - Both sexes,kg,16290.00,16745.00,17205.00,17670.00,18143.00
Mali,133,2961,Yams,5911,Total Population - Both sexes,kg,16934.00,17439.00,17965.00,18512.00,19078.00
Mauritania,136,2961,Yams,5911,Total Population - Both sexes,kg,32373.00,14253.00,21714.00,51864.00,51864.00
Mauritius,137,2961,Wine,5911,Tourist consumption,kg,4044.00,4009.00,3798.00,3713.00,3155.00
Morocco,143,2961,Yams,5911,Total Population - Both sexes,kg,40144.00,53546.00,39247.00,38348.00,38349.00
Mozambique,144,2961,Yams,5911,Total Population - Both sexes,kg,26286.00,27042.00,27830.00,28649.00,29496.00
Namibia,147,2961,Yams,5911,Total Population - Both sexes,kg,2369.00,2427.00,2450.00,2465.00,2469.00
Niger,158,2961,Yams,5911,Total Population - Both sexes,kg,19240.00,20002.00,20789.00,21602.00,22443.00
Nigeria,159,2961,Yams,5911,Total Population - Both sexes,kg,176405.00,181137.00,185960.00,190873.00,195875.00
Rwanda,184,2961,Yams,5911,Total Population - Both sexes,kg,11084.00,11369.00,11669.00,11981.00,12302.00
Sao Tome and Principe,193,2960,Yams,5911,Tourist consumption,kg,2381.00,2369.00,2413.00,2407.00,2446.00
Senegal,195,2961,Yams,5911,Total Population - Both sexes,kg,14175.00,14578.00,14994.00,15419.00,15854.00
Seychelles,196,2782,Pelagic Fish,5911,Stock Variation,1000 tonnes,125.88,160.17,193.57,204.02,204.02
Sierra Leone,197,2961,Wine,5911,Total Population - Both sexes,kg,7017.00,7172.00,7329.00,7488.00,7650.00
South Africa,202,2961,Yams,5911,Total Population - Both sexes,kg,54544.00,55386.00,56208.00,57010.00,57793.00
Sudan,276,2961,Yams,5911,Total Population - Both sexes,kg,37978.00,38903.00,39847.00,40813.00,41802.00
Sudan (former),206,2781,Pelagic Fish,5911,Stock Variation,1000 tonnes,0.00,0.00,0.00,0.00,0.00
Togo,217,2961,Yams,5911,Total Population - Both sexes,kg,7138.00,7323.00,7510.00,7698.00,7889.00
Tunisia,222,2961,Wine,5911,Total Population - Both sexes,kg,11063.00,11180.00,11304.00,11433.00,11565.00
Uganda,226,2961,Yams,5911,Total Population - Both sexes,kg,36912.00,38225.00,39649.00,41167.00,42729.00
United Republic of Tanzania,215,2961,Yams,5911,Total Population - Both sexes,kg,49961.00,51483.00,53049.00,54660.00,56313.00
Zambia,251,2961,Yams,5911,Total Population - Both sexes,kg,15400.00,15879.00,16363.00,16854.00,17352.00
Zimbabwe,181,2961,Wine,5911,Total Population - Both sexes,kg,13587.00,13815.00,14030.00,14237.00,14439.00

In [19]:
g.min()

,Area Code,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
Area,,,,,,,,,,,
Algeria,4,2501,"Alcohol, Non-Food",511,Domestic supply quantity,1000 persons,-39.0,-19.0,-63.00,-81.0,-90.0
Angola,7,2501,"Alcohol, Non-Food",511,Domestic supply quantity,1000 persons,0.0,-114.0,-142.00,-250.0,-240.0
Benin,53,2501,"Alcohol, Non-Food",511,Domestic supply quantity,1000 persons,-12.0,-161.0,-46.00,-125.0,-256.0
Botswana,20,2501,"Alcohol, Non-Food",511,Domestic supply quantity,1000 persons,-20.0,-12.0,-25.00,-38.0,-35.0
Burkina Faso,233,2501,"Alcohol, Non-Food",511,Domestic supply quantity,1000 persons,-374.0,-294.0,-53.00,-281.0,-77.0
Cabo Verde,35,2501,"Alcohol, Non-Food",511,Domestic supply quantity,1000 persons,-9.0,-10.0,-13.00,-7.0,-16.0
Cameroon,32,2501,"Alcohol, Non-Food",511,Domestic supply quantity,1000 persons,-49.0,-117.0,-62.00,-147.0,-175.0
Central African Republic,37,2501,"Alcohol, Non-Food",511,Domestic supply quantity,1000 persons,-50.0,-35.0,-2.00,-1.0,-4.0
Chad,39,2501,"Alcohol, Non-Food",511,Domestic supply quantity,1000 persons,-20.0,-121.0,-14.00,-37.0,-10.0
Comoros,45,2761,Cephalopods,5142,Domestic supply quantity,1000 tonnes,0.0,0.0,0.00,0.0,0.0
Congo,46,2501,"Alcohol, Non-Food",511,Domestic supply quantity,1000 persons,-7.0,-2.0,-4.00,-4.0,-17.0
CÃ´te d'Ivoire,107,2501,"Alcohol, Non-Food",511,Domestic supply quantity,1000 persons,-116.0,-208.0,-179.00,-244.0,-151.0
Djibouti,72,2501,"Alcohol, Non-Food",511,Domestic supply quantity,1000 persons,-6.0,-4.0,-7.00,-2.0,-10.0
Egypt,59,2501,"Alcohol, Non-Food",511,Domestic supply quantity,1000 persons,-288.0,-574.0,-985.00,-1582.0,-3396.0
Eswatini,209,2501,"Alcohol, Non-Food",511,Domestic supply quantity,1000 persons,-11.0,-39.0,-51.00,-100.0,-10.0
Ethiopia,238,2501,"Alcohol, Non-Food",511,Domestic supply quantity,1000 persons,-397.0,-549.0,-94.00,-792.0,-1000.0
Ethiopia PDR,62,2761,Crustaceans,5072,Domestic supply quantity,1000 tonnes,0.0,0.0,0.00,0.0,0.0
Gabon,74,2501,"Alcohol, Non-Food",511,Domestic supply quantity,1000 persons,-29.0,-2.0,-18.00,-37.0,-22.0
Gambia,75,2501,"Alcohol, Non-Food",511,Domestic supply quantity,1000 persons,-72.0,-30.0,-16.00,-2.0,-4.0
Ghana,81,2501,"Alcohol, Non-Food",511,Domestic supply quantity,1000 persons,-324.0,-70.0,-162.00,-121.0,-502.0
Guinea,90,2501,"Alcohol, Non-Food",511,Domestic supply quantity,1000 persons,-88.0,-186.0,-84.00,-108.0,-12.0
Guinea-Bissau,175,2501,"Alcohol, Non-Food",511,Domestic supply quantity,1000 persons,-31.0,-6.0,-3.00,-3.0,-3.0
Kenya,114,2501,"Alcohol, Non-Food",511,Domestic supply quantity,1000 persons,-623.0,-250.0,-703.00,-186.0,-177.0
Lesotho,122,2501,"Alcohol, Non-Food",511,Domestic supply quantity,1000 persons,-6.0,-7.0,-5.00,-4.0,-70.0
Liberia,123,2501,"Alcohol, Non-Food",511,Domestic supply quantity,1000 persons,-5.0,-9.0,-2.00,-19.0,-23.0
Madagascar,129,2501,"Alcohol, Non-Food",511,Domestic supply quantity,1000 persons,-300.0,-305.0,-318.00,-324.0,-336.0
Malawi,130,2501,"Alcohol, Non-Food",511,Domestic supply quantity,1000 persons,-344.0,-271.0,-374.00,-50.0,-237.0
Mali,133,2501,"Alcohol, Non-Food",511,Domestic supply quantity,1000 persons,-849.0,-559.0,-560.00,-600.0,-598.0
Mauritania,136,2501,"Alcohol, Non-Food",511,Domestic supply quantity,1000 persons,-7.0,-3.0,-34.00,-1.0,-12.0
Mauritius,137,2501,"Alcohol, Non-Food",511,Domestic supply quantity,1000 persons,-42.0,-47.0,-22.00,-25.0,-34.0
Morocco,143,2501,"Alcohol, Non-Food",511,Domestic supply quantity,1000 persons,-685.0,-179.0,-3225.00,-229.0,-169.0
Mozambique,144,2501,"Alcohol, Non-Food",511,Domestic supply quantity,1000 persons,-219.0,-184.0,-108.00,-1200.0,-1445.0
Namibia,147,2501,"Alcohol, Non-Food",511,Domestic supply quantity,1000 persons,-2.0,-4.0,-38.29,-35.0,-30.0
Niger,158,2501,"Alcohol, Non-Food",511,Domestic supply quantity,1000 persons,-47.0,-57.0,-230.00,-682.0,-434.0
Nigeria,159,2501,"Alcohol, Non-Food",511,Domestic supply quantity,1000 persons,-1796.0,-517.0,-399.00,-694.0,-374.0
Rwanda,184,2501,"Alcohol, Non-Food",511,Domestic supply quantity,1000 persons,-838.0,-827.0,-679.00,-631.0,-682.0
Sao Tome and Principe,193,2501,"Alcohol, Non-Food",511,Domestic supply quantity,1000 persons,-2.0,0.0,0.00,0.0,-1.0
Senegal,195,2501,"Alcohol, Non-Food",511,Domestic supply quantity,1000 persons,-135.0,-33.0,-133.00,-68.0,-101.0
Seychelles,196,2761,"Aquatic Animals, Others",5072,Domestic supply quantity,1000 tonnes,0.0,-1.3,-0.28,0.0,0.0
Sierra Leone,197,2501,"Alcohol, Non-Food",511,Domestic supply quantity,1000 persons,-46.0,-173.0,-240.00,-180.0,-180.0
South Africa,202,2501,"Alcohol, Non-Food",511,Domestic supply quantity,1000 persons,-296.0,-3161.0,-1499.00,-144.0,-597.0
Sudan,276,2501,"Alcohol, Non-Food",511,Domestic supply quantity,1000 persons,-147.0,-1284.0,-58.00,-819.0,-99.0
Sudan (former),206,2761,Aquatic Plants,5072,Domestic supply quantity,1000 tonnes,0.0,0.0,0.00,0.0,0.0
Togo,217,2501,"Alcohol, Non-Food",511,Domestic supply quantity,1000 persons,-27.0,-42.0,-23.00,-32.0,-84.0
Tunisia,222,2501,"Alcohol, Non-Food",511,Domestic supply quantity,1000 persons,-379.0,-154.0,-118.00,-186.0,-319.0
Uganda,226,2501,"Alcohol, Non-Food",511,Domestic supply quantity,1000 persons,-208.0,-131.0,-239.00,-180.0,-271.0
United Republic of Tanzania,215,2501,"Alcohol, Non-Food",511,Domestic supply quantity,1000 persons,-166.0,-317.0,-212.00,-865.0,-913.0
Zambia,251,2501,"Alcohol, Non-Food",511,Domestic supply quantity,1000 persons,-67.0,-907.0,-506.00,-42.0,-529.0
Zimbabwe,181,2501,"Alcohol, Non-Food",511,Domestic supply quantity,1000 persons,-119.0,-369.0,-417.00,-521.0,-273.0

In [20]:
g.mean()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area,,,,,,,,
Algeria,4.0,2690.063214,3821.726580,248.513347,255.566562,255.892786,254.608499,263.274253
Angola,7.0,2682.519663,3872.955056,151.367504,152.079586,154.701239,162.871052,168.486160
Benin,53.0,2687.698054,3776.513619,94.440632,85.858040,93.845338,99.577989,99.808866
Botswana,20.0,2688.608128,3816.969521,16.414342,16.818736,16.828315,16.155921,16.994181
Burkina Faso,233.0,2681.898510,3854.679205,76.013987,74.855117,77.372320,73.647918,82.280204
Cabo Verde,35.0,2695.830159,3799.802381,11.841543,11.829886,12.141167,12.280587,12.267282
Cameroon,32.0,2682.245205,3878.901370,150.089848,156.078115,160.578212,161.020423,162.725510
Central African Republic,37.0,2684.186012,3771.647321,22.106938,22.288071,22.415936,23.721870,23.013433
Chad,39.0,2685.427401,3803.689501,51.355273,50.526385,57.449613,55.889680,55.388690
Comoros,45.0,2766.977778,5370.688889,0.711111,0.918667,1.220222,1.329778,1.329778
Congo,46.0,2683.672328,3853.899505,28.002359,29.234212,29.479056,29.520918,30.505105
CÃ´te d'Ivoire,107.0,2682.220859,3879.476483,135.722188,146.227567,145.319038,154.469746,156.026117
Djibouti,72.0,2699.614612,3635.048402,20.277833,22.391456,20.667846,21.423101,22.806692
Egypt,59.0,2685.864919,3960.434140,581.240452,589.422084,584.060293,594.224911,580.826240
Eswatini,209.0,2691.724299,3793.010903,42.123123,43.606508,43.047976,43.439912,44.715735
Ethiopia,238.0,2680.139599,3868.847961,292.089537,300.097434,315.296149,314.204314,316.343060
Ethiopia PDR,62.0,2765.461538,5374.589744,0.000000,0.000000,0.000000,0.000000,0.000000
Gabon,74.0,2694.305221,3686.994378,23.438592,23.600083,23.480760,23.200365,23.774648
Gambia,75.0,2692.981164,3657.786815,17.491409,17.637121,19.584293,20.747473,21.032021
Ghana,81.0,2687.842688,3792.862629,230.612259,233.377442,236.331165,253.262611,268.448497
Guinea,90.0,2682.372340,3851.975887,67.816654,68.794211,69.519476,70.960860,74.557458
Guinea-Bissau,175.0,2691.111702,3556.466312,16.962328,17.298135,17.575740,17.753504,17.413309
Kenya,114.0,2683.100641,3981.961538,165.292105,172.183003,168.998416,170.969419,175.010853
Lesotho,122.0,2695.085217,3656.516522,16.925566,16.377247,15.465018,19.160324,17.467303
Liberia,123.0,2694.800166,3573.015755,24.580044,25.306966,26.465018,25.852159,26.151659
Madagascar,129.0,2685.377345,3905.420431,91.091328,88.645836,90.153913,92.068582,94.505927
Malawi,130.0,2680.987560,3870.733932,122.496370,119.992207,118.343199,128.347775,132.883752
Mali,133.0,2683.585460,3773.309358,98.273762,105.459061,117.859824,120.618126,126.211444
Mauritania,136.0,2696.323849,3596.027615,99.057532,53.741311,71.378391,141.394819,134.598248
Mauritius,137.0,2693.459361,3859.141509,37.563188,39.476642,36.661019,38.145396,35.134806
Morocco,143.0,2687.065327,3887.292893,277.679291,298.677625,266.969652,283.780394,291.864963
Mozambique,144.0,2684.168886,3900.968465,115.156067,113.508730,114.150186,114.799417,117.810036
Namibia,147.0,2691.134061,3751.855027,25.138477,24.163701,24.004005,23.542072,23.367866
Niger,158.0,2682.635068,3837.639344,79.761717,86.199451,91.219100,92.826066,97.940687
Nigeria,159.0,2682.738806,3885.303256,952.069517,970.070528,1015.716240,1018.028984,1030.064725
Rwanda,184.0,2681.686536,3841.416550,50.000986,50.899006,50.658400,52.729914,53.342181
Sao Tome and Principe,193.0,2691.631266,3620.107052,11.244260,11.010604,11.094351,11.285766,11.547782
Senegal,195.0,2682.749658,3860.203830,54.236140,63.450062,61.306970,65.896109,65.948771
Seychelles,196.0,2768.617647,5409.058824,4.488235,5.267647,6.122353,6.505000,6.505000
Sierra Leone,197.0,2691.872786,3706.151369,53.161334,52.940847,44.417273,46.441083,46.768363
South Africa,202.0,2687.190136,3896.342387,356.735667,335.736330,331.343484,371.032645,365.177629
Sudan,276.0,2685.912614,3698.011398,193.874362,183.057571,199.211086,187.593370,211.399361
Sudan (former),206.0,2766.622642,5413.962264,0.000000,0.000000,0.000000,0.000000,0.000000
Togo,217.0,2688.429675,3762.555641,39.063208,39.016794,38.560539,40.390502,43.342812
Tunisia,222.0,2692.689088,3835.322870,89.746419,97.277246,94.200046,94.495586,96.472098
Uganda,226.0,2681.144719,3882.236626,150.859149,152.569654,140.374371,149.094341,153.735121
United Republic of Tanzania,215.0,2684.671600,3848.549683,240.849850,243.394633,237.894412,228.968666,248.411513
Zambia,251.0,2682.840110,3886.208822,69.746159,67.756338,68.341741,72.437733,71.501949
Zimbabwe,181.0,2684.344580,3838.312994,57.035182,53.927014,55.698733,55.618564,56.475966